<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<div th:replace="admin/header :: header">

</div>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spring boot thymeleaf child adoption app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/admin/adopted}">Adopted Children</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/admin/adopted/newadopted}">Add New Child</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class=""container>
  <div class="row">
    <h1>List of Adopted Children</h1>
  </div>
  <table class="table table-striped table hover table-bordered">
    <thead  class="table-light">       <!-- style="background-color: aqua" -->
    <th style="width: 10%">#</th>
    <th style="width: 10%">Id</th>
    <th style="width: 10%">Parent Id</th>
    <th style="width: 20%">Leave Date</th>
    <th style="width: 50%">Proof of Adoption</th>

    <!-- All the width Must be equal to 100 -->
    </thead>
    <tbody>
    <tr th:each = "adopted, adoptedStat : ${allAdoptedChildren}">
      <td th:text="${adoptedStat.count}">1</td>
      <td th:text="${adopted.id}">Id</td>
      <td th:text="${adopted.parent}">Parent Id</td>
      <td th:text="${adopted.leaveDate}">Leave Date</td>
      <td th:text="${adopted.proofOfAdoption}">Proof of Adoption</td>



    </tr>

    </tbody>
  </table>
</div>
<div th:replace="admin/footer :: footer">

</div>
</body>
</html>