<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/header :: header"></div>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring boot thymeleaf child adoption app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin/requests}">Back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Request for adoption</h2>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/admin/requests}" th:object="${create_request}">

                    <div class="mb-3" style="display: flex ; flex-direction: column">
                        <label class="form-label">Parent Name</label>
                        <select name="parent" th:field="*{parent}" style="width: 100%; padding: 5px 0 5px 5px;border-radius: 5px">
                            <th:block th:each="parent : ${listParents}">
                                <option th:value="${parent.id}" th:text="${parent.name}"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter your location" name="location" th:field="*{location}"/>

                    </div>

                    <div style="display: flex ; justify-content: space-between ; align-items:center ">
                        <div class="mb-3" style="display: flex ; flex-direction: column">
                            <label class="form-label" style="display: none">Request Status</label>
                            <select name="status" style="width: 200px; padding: 5px 0 5px 5px; display: none" disabled>
                                <option th:each="statusOpt : ${T(com.interswitch.academy.adoptionautomationsystem.entities.enums.RequestStatus).values()}"
                                        th:value="${statusOpt}" th:text="${statusOpt.displayValue}"></option>
                            </select>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label">Reason Or Purpose</label>
                        <textarea class="form-control" row="5" cols="25" id="reason" placeholder="Reason for adoption"
                                  th:field="*{reasonOrPurposeForAdoption}"></textarea>
                                    <p th:if="${#fields.hasErrors('reasonOrPurposeForAdoption')}" class="text-danger"
                                       th:errors="*{reasonOrPurposeForAdoption}"></p>
                    </div>

                    <button type="submit" class="btn-btn-primary">Submit</button>

                </form>
            </div>
        </div>

    </div>
</div>
<br><br><br>
<div th:replace="admin/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+30JU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#reason'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error)
        })
</script>
</body>
</html>