<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/header :: header"></div>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spring boot thymeleaf child adoption app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/admin/tracking}">Back</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/admin/tracking/newtracking}">Track a child</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Edit Child Tracker Information</h2>
      </div>
      <div class="card-body">
        <form role="form" method="post" th:action="@{/admin/tracking/{trackingId}(trackingId=${tracking.id})}" th:object="${tracking}">

          <div style="display: grid; grid-template-columns: 1fr 1fr ; gap: 20px;">
            <div class="mb-3">
              <label class="form-label">Last Checked</label>
              <input type="date" class="form-control" id="lastcheck" placeholder="Date of last check" name="lastcheck" th:field="*{lastChecked}"/>
                          <p th:if="${#fields.hasErrors('lastChecked')}" class="text-danger"
                             th:errors="*{lastChecked}"></p>
            </div>
            <div class="mb-3">
              <label class="form-label">Next Checked</label>
              <input type="date" class="form-control" id="nextcheck" placeholder="Date of next check" name="nextcheck" th:field="*{nextChecked}"/>
                          <p th:if="${#fields.hasErrors('nextChecked')}" class="text-danger"
                             th:errors="*{nextChecked}"></p>
            </div>

          </div>

          <div style="display: grid; grid-template-columns: 1fr 1fr ; gap: 20px;">
            <div class="mb-3">
              <label class="form-label">Location</label>
              <input type="text" class="form-control" id="location" placeholder="Enter location" name="location" th:field="*{location}"/>

            </div>
            <div class="mb-3">
              <label class="form-label" style="display: flex ; flex-direction: column;">Tracking Status</label>
              <select name="status" style="width: 100%; border-radius: 5px; padding: 5px 0 5px 5px">
                <option th:each="statusOption : ${T(com.interswitch.academy.adoptionautomationsystem.entities.enums.TrackingStatus).values()}"
                        th:value="${statusOption}" th:text="${statusOption.displayValue}"></option>
              </select>
            </div>
          </div>

          <div>
            <div class="mb-3">
              <label class="form-label">Comment</label>
              <textarea class="form-control" row="5" cols="25" id="comment" placeholder="Enter comment"
                        th:field="*{comment}"></textarea>
                          <p th:if="${#fields.hasErrors('comment')}" class="text-danger"
                             th:errors="*{comment}"></p>
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-light">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<br><br><br>
<div th:replace="admin/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+30JU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script>
  ClassicEditor
          .create(document.querySelector('#comment'))
          .then(editor => {
            console.log(editor);
          })
          .catch(error => {
            console.error(error)
          })
</script>
</body>
</html>