<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:replace="admin/header :: header"> </div>
  <script src="https://unpkg.com/feather-icons"></script>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  <meta name="theme-color" content="#712cf9">
  <link href="./css/style.css" rel="stylesheet">
</head>

</div>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spring boot thymeleaf child adoption app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>

  <div class="row">
    <div class="">
      <div class="form-group">
        <form class="form-inline" th:action="@{/admin/guardians/search}">
          <div class="input-group">
            <input type="text" class="form-control" name="text" />
            <span class="input-group-btn">
                 <button class="btn btn-primary" type="submit">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">


          <li class="nav-item">
            <a class="nav-link" th:href="@{/users}" style="color:black;">
              <span data-feather="users" class="align-text-bottom"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/children}" style="color:black;">
              <span data-feather="users" class="align-text-bottom"></span>
              Children
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/parents}" style="color:black;">
              <span data-feather="users" class="align-text-bottom"></span>
              Adoptive Parent
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/guardians}" style="color:black;">
              <span data-feather="users" class="align-text-bottom"></span>
              Guardian
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/parents}" style="color: black">
              <span data-feather="users" class="align-text-bottom"></span>
              Adopted Children
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/tracking}" style="color:black;">
              <span data-feather="hash" class="align-text-bottom"></span>
              Tracking
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/upload}" style="color:black;">
              <span data-feather="file" class="align-text-bottom"></span>
              Documents
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/requests}" style="color:black;">
              <span data-feather="star" class="align-text-bottom"></span>
              Make a request
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/adoptionforms}" style="color:black;">
              <span data-feather="plus-square" class="align-text-bottom"></span>
              Adoption Form
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/logout}" style="color: black">
              <span data-feather="log-out" class="align-text-bottom"></span>
              Logout</a>
          </li>
        </ul>

      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div style="display: flex; justify-content: space-between; margin-top: 10px">
        <h1>Guardians</h1>
        <a class="nav-link active btn btn-primary" aria-current="page" th:href="@{/admin/guardians/newguardian}">
          <span data-feather="user-plus" ></span>
          Add Guardian</a>



      </div>
  <div style="overflow-x: auto; overflow-y: hidden; margin-top: 30px">
    <table class="table table-striped table hover table-bordered" style="font-size: 16px; overflow-x: auto; width: 1100px; white-space: nowrap">
    <thead  class="table-light">       <!-- style="background-color: aqua" -->
    <th style="width: 3%">#</th>
    <th style="width: 5%">Id</th>
    <th style="width: 10%">Firstname</th>
    <th style="width: 10%">Lastname</th>
    <th style="width: 5%">Gender</th>
    <th style="width: 5%">Phone No.</th>
    <th style="width: 15%">Email</th>
    <th style="width: 9%">Location</th>
    <th style="width: 33%">report</th>
    <th style="width: 5%">Action</th>


    <!-- All the width Must be equal to 100 -->
    </thead>
    <tbody>
    <tr th:each = "guardian, guardianStat : ${allGuardians}">
      <td th:text="${guardianStat.count}">1</td>
      <td th:text="${guardian.id}">Id</td>
      <td th:text="${guardian.firstname}">Firstname</td>
      <td th:text="${guardian.lastname}">Lastname</td>
      <td th:text="${guardian.gender}">Gender</td>
      <td th:text="${guardian.phoneNumber}">Phone No.</td>
      <td th:text="${guardian.email}">Email</td>
      <td th:text="${guardian.location}">Location</td>
      <td th:text="${guardian.report}">Report</td>
      <td>
        <a th:href="@{/admin/guardians/{guardianId}/edit(guardianId=${guardian.id})}" class="btn btn-primary"> Edit</a>
        <a th:href="@{/admin/guardians/{guardianId}/delete(guardianId=${guardian.id})}" class="btn btn-danger">Delete</a>
        <a th:href="@{/admin/guardians/{guardianId}/view(guardianId=${guardian.id})}" class="btn btn-info">View</a>
      </td>


    </tr>

    </tbody>
  </table>
  </div>
    </main>
    </div>
</div>
<div th:replace="admin/footer :: footer">

</div>
<script>
  feather.replace()
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</body>
</html>