<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="admin/header :: header"></div>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Spring boot thymeleaf child adoption app</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/admin/requests}">Adoption Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/admin/requests/newrequest}">Add new Child</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <strong> Request Identification No :</strong>
      <p  th:text="${request.id}"></p>
      <hr/>
      <strong> Date of Request :</strong>
      <p  th:text="${request.requestDate}"></p>
      <hr />
      <strong> Location :</strong>
      <p th:text="${request.location}"></p>
      <hr />
      <strong> Reason or Purpose of Adoption :</strong>
      <p th:text="${request.reasonOrPurposeForAdoption}"></p>
      <hr />
      <strong> request Status :</strong>
      <p th:text="${request.status}"></p>
      <hr />
    </div>

  </div>
</div>
<div th:replace="admin/footer :: footer"></div>
</body>
</html>